@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
		/*    background-color: #2980b9;*/
		background-image: linear-gradient(to right, #0d1671, #3742ad);
		/*center center*/
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column
}

h1 {
		font-family: 'Roboto Mono', monospace;
		color: white;
		font-size: 1.5em;
}

p {
		color: #2980b9;
}

.flexbox-container {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
}

.box {
		height: 160px !important;
		width: 24% !important;
		background-color: #3742ad;
		margin: 3px !important
}

.box29 {
	background-color: #0d1671;
	display: flex;
	justify-content: center;
	align-items: center;
}
			
/* mobile media query */
@media screen and (max-width: 599px) { 
	
	h1 {
		font-size: 1.2em;
		text-align: center;
	}
	
	.flexbox-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.box {
			height: 150px !important;
			width: 47% !important;
			background-color: #3742ad;
			margin: 3px !important
	}
	
	.box29 {
		background-color: #0d1671;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
}